:root {
  --primary-color: #f0fbff;
  --secondary-color:#acdcee;
  --third-color: #475053;
  --fourth-color: #2e94b9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Urbanist", sans-serif;
}


body {
  background: var(--primary-color);
  font-family: var(--font-family); 
  letter-spacing: 1px;
  padding: 10px;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 10px 0 10px 0;
}

links {
  text-align: center;
  font-size: 100%;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-weight: 100;
  margin: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.course-link {
  color: var(--third-color);
  text-decoration:none;
}

.add-link {
  color:var(--fourth-color);
  text-decoration:none;
}

.link.hover {
  border-bottom: 2px solid #fff;
}

h1 {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

h1,
h2 {
  color: var(--third-color);
  text-aling: center;
}

.main-content {
  width: 80%;
  margin: auto auto 100px auto;
}

.main {
  margin-left: 10px;
}

.form {
  width: 30%;
  float: left;
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.course {
  margin: 10px;
  width: 300px;
  overflow: hidden;
  background-color:var(--third-color);
  border-radius:3px;
  }

.course-title {
  font-weight: bold;
  color: var(--primary-color);
  
}

.course-details {
  margin-bottom: 1px;
  color: var(--secondary-color);
}

.main-form {
  color: #142d4c;
  font-size: 18px;
  width: 70%;
  margin: auto;
}

.input-control {
  border: 1px solid #ccc;
  color: #385170;
  background-color: #fff;
  height: 30px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

button {
background-color: var(--third-color);
color: var(--fourth-color);
border: 1px solid var(--primary-color);
border-color:var(--secondary-color);
border-radius:3px;
  font-size: 16px;
  line-height:20px;
  padding: 10px 30px;}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 10px;
}

.successMsg {
  color: #00ff00;
  background: #077707;
  padding: 10px;
}

.centered-message {
  width: 500px;
  margin: auto;
}

.message {
  color: #385170;
  font-size: 25px;
  margin-left: 10px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }

  .links {
    font-size: 1.2rem;
  }

  .link:link,
  .link:visited {
    margin: unset;
  }

  .main-form {
    width: 100%;
  }
}
